$background: #1e1e1e;
$background-varient: #2f2f2f;
$primary-color: #17f2b3;
$ani-speed: 2s;
$ani-delay: 1s;
$animation-delay: 0.1s;
$arrow-size: 30px;

@mixin button(
  $backColor: $background,
  $Color: $primary-color,
  $Border: 0,
  $BorderColor: $primary-color,
  $Width: 170px
) {
  background-color: $backColor;
  height: 50px;
  width: $Width;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 4px;
  color: $Color;
  border-width: $Border;
  border-color: $BorderColor;
  border-style: solid;
}

* {
  font-size: 10px;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: 0;
}
html {
  scroll-behavior: smooth;
  scroll-timeline: --page-scroll block;
}
body {
  background-color: #1e1e1e;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: $background;
  border-bottom: 1px solid gray;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 58%;
    margin-right: 100px;
    a {
      text-decoration: none;
      font-size: 1.7rem;
    }
    a:hover {
      color: $primary-color;
    }
  }
}
@mixin button_link(
  $backColor: $background,
  $Color: $primary-color,
  $Border: 0,
  $BorderColor: $primary-color,
  $IColor: $primary-color
) {
  color: $Color;
  background-color: $backColor;
  font-weight: 700;
  border-width: $Border;
  border-color: $BorderColor;
  border-radius: 10px;
  border-style: solid;
  padding: 10px 20px;
  font-size: 1.7rem;
  display: block;
  height: min-content;
  text-decoration: none;
  i {
    color: $IColor;
    font-size: 15px;
  }
  &:hover {
    cursor: pointer;
  }
}

.button_link_nav {
  @include button_link($primary-color, $background, 0, none, $background);
  &:hover {
    color: $background;
    background-color: white;
  }
}

.button_link_intro_dark {
  @include button_link(
    $background,
    $primary-color,
    2px,
    $primary-color,
    $primary-color
  );
  padding: 9px 19px;
  &:hover {
    background-color: $primary-color;
    color: $background;
    i {
      color: $background;
    }
  }
}
.button_link_intro_green {
  @include button_link($primary-color, $background);
  &:hover {
    background-color: white;
  }
}
.button_link:hover {
  background-color: white;
  color: $background;
}
@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#progress {
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
  height: 5px;
  background: $primary-color;

  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: --page-scroll;
}
.green {
  color: $primary-color;
}

.logo {
  font-size: 7rem;
  font-weight: 800;
  color: $primary-color;
  margin-left: 100px;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}
#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
}

#top_landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#container_intro {
  width: 50%;

  h3 {
    font-size: 4rem;
  }

  h1 {
    font-size: 5.5rem;
    margin: 0;
  }

  .green {
    font-size: 5.5rem;
  }

  p {
    font-size: 1.9rem;
    color: #b4b4b4;
  }
  .bold {
    font-weight: 700;
    font-size: 1.7rem;
  }
  .link_logo {
    font-size: 5rem;
    margin-top: 5px;
  }

  .links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80vh;
  left: 50%;
  right: 50%;
}
.scroll-arrow {
  width: $arrow-size;
  height: $arrow-size;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  animation: arrow-wave 1s infinite;
  animation-direction: alternate;
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: $animation-delay * $i;
    }
  }
}

@keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.section_title {
  font-size: 8rem;
  color: $primary-color;
  margin-bottom: 50px;
}

#container_about {
  padding-top: 130px;
  .text {
    margin: 0 auto;
    width: min-content;
    p {
      font-size: 1.7rem;
      width: 600px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1.7rem;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    ul li {
      font-size: 1.7rem;
      margin-left: 20px;
    }
  }
}

#skill_part {
  width: 500px;
  height: 500px;
  background-color: #17f2b3;
  margin: 0 auto;
  h3 {
    text-align: center;
    font-size: 3rem;
  }
}
.skill_cards {
  margin: 0 auto;
  width: 800px;
  display: grid;
  grid-template: 6rem 120px 6rem repeat(2, 120px) 6rem 120px / 1fr 1fr 1fr;
  h2 {
    grid-column: 1 / span 3;
    text-align: center;
    font-size: 3rem;
    align-self: center;
  }
  .card {
    transition: 0.3s;
    width: 90%;
    margin: 0 auto;
    border: 0px solid $primary-color;
    background: $background-varient;
    height: 90%;
    align-self: center;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 4px 8px #0a0a0a;
    align-items: center;
    justify-content: space-evenly;
    p {
      font-size: 1.7rem;
    }
    img {
      width: 96px;
      height: 96px;
    }
  }
  .card:hover {
    transition: 0.5s;
    width: 100%;
    height: 100%;
  }
}

#container_skills {
  padding-top: 130px;
}

#container_contact {
  form {
    margin: 0 auto;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    label {
      align-self: flex-start;
      font-size: 2rem;
    }
    input {
      background: transparent;
      border-bottom: 1px solid white;
      font-size: 1.7rem;
      width: inherit;
      height: 30px;
      margin-bottom: 20px;
      padding: 5px;
      color: $primary-color;
    }
    input:focus {
      border: none;
    }
    input::placeholder {
      font-size: 1.7rem;
      opacity: 0.5;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: $primary-color;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px #23232329;
    }
    textarea {
      background: transparent;
      border-bottom: 1px solid white;
      font-size: 2rem;
      width: inherit;
      color: $primary-color;
      height: 100px;
      padding: 5px;
    }
    textarea::placeholder {
      font-size: 1.7rem;
      opacity: 0.5;
    }
    button {
      @include button($background, $primary-color, 1px, $primary-color, 220px);
      font-size: 2rem;
      margin-top: 20px;
      i {
        font-size: 2rem;
        color: $primary-color;
      }
    }
    button:hover {
      color: $background;
      background-color: $primary-color;
      cursor: pointer;
      i {
        color: $background;
      }
    }
  }
}

#container_formations {
  padding-top: 130px;
}

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  height: auto;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: $background-varient;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
  h3 {
    font-size: 2rem;
  }
  img {
    width: 25px;
    border-radius: 5px;
  }
  h4 {
    font-size: 1.7rem;
  }
  p {
    margin-top: 10px;
    font-size: 1.7rem;
    opacity: 0.5;
  }
}
.structure {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    // background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    background-color: $primary-color;
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    border: 2px solid $primary-color;
    background-color: $background;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

#container_projects {
  padding-top: 130px;
}
.project_card {
  background-color: $background-varient;
  width: min(400px, calc(100vw - 70px));
  max-width: 350px;
  height: 400px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  img {
    transition: 0.5;
    width: 100%;
    border-radius: 15px;
  }
  img:hover {
    transition: 0.5s;
    filter: brightness(0.6);
  }
  .top_card {
    display: flex;
    padding-top: 10px;
    height: 40%;
    .card_text {
      height: 40%;
      width: 60%;
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
        opacity: 0.5;
      }
    }
    .card_techs {
      width: 40%;
      .tech {
        display: inline-block;
        font-size: 1.4rem;
        color: $background-varient;
        background-color: white;
        font-weight: 600;
        padding: 3px;
        border-radius: 5px;
        margin-bottom: 4px;
      }
    }
  }
  .card_buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    a {
      color: $background-varient;
      background-color: $primary-color;
      font-size: 1.7rem;
      font-weight: 700;
      display: inline-block;
      padding: 5px 5px;
      border-radius: 10px;
      text-decoration: none;
      i {
        font-size: 1.7rem;
        color: $background-varient;
      }
    }
    a:hover {
      background-color: white;
      cursor: pointer;
    }
  }
}

footer {
  padding: 35px;
  height: auto;
  .footer_links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    a {
      i {
        font-size: 5rem;
      }
    }
  }
  p {
    font-size: 1.7rem;
    text-align: center;
    span {
      font-size: 1.7rem;
      color: $primary-color;
    }
  }
}

.menu {
  position: absolute;
  top: 10px;
  right: 50px;
  display: none;
}

@media screen and (max-width: 1100px) {
  .nav_links {
    transition: all 0.5s ease;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: -100%;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    margin: 0;
    background-color: $background;
    border-left: 1px solid white;
    margin-left: 4%;
    a,
    .button_link_nav {
      margin: 20px;
    }
  }
  .nav_links.mobile-menu {
    right: 0;
  }
  .menu {
    display: block;
    width: 60px;
  }
  .skill_cards {
    width: 600px;
    grid-template: 5rem 80px 5rem repeat(2, 80px) 5rem 80px / 1fr 1fr 1fr;
    .card img {
      width: 60px;
      height: 60px;
    }
  }
  #container_intro {
    width: 100%;
    margin-bottom: 30px;
  }
  #top_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .arrows {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  #top_landing {
    #container_intro {
      h3 {
        font-size: 3rem;
      }

      h1 {
        font-size: 4.5rem;
        margin: 0;
      }

      .green {
        font-size: 4.5rem;
      }

      p {
        font-size: 1.4rem;
        color: #b4b4b4;
      }
      .bold {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #top_landing {
    #container_intro {
      h3 {
        font-size: 2rem;
      }

      h1 {
        font-size: 3.5rem;
        margin: 0;
      }

      .green {
        font-size: 3.5rem;
      }

      p {
        font-size: 1rem;
        color: #b4b4b4;
      }
      .bold {
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }
  .links {
    display: inline;
    text-align: center;
  }
}
