* {
  font-size: 10px;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: 0;
}

html {
  scroll-behavior: smooth;
  scroll-timeline: --page-scroll block;
}

body {
  background-color: #1e1e1e;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #1e1e1e;
  border-bottom: 1px solid gray;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 58%;
  margin-right: 100px;
}
header nav a {
  text-decoration: none;
  font-size: 1.7rem;
}
header nav a:hover {
  color: #17f2b3;
}

.button_link_nav {
  color: #1e1e1e;
  background-color: #17f2b3;
  font-weight: 700;
  border-width: 0;
  border-color: none;
  border-radius: 10px;
  border-style: solid;
  padding: 10px 20px;
  font-size: 1.7rem;
  display: block;
  height: min-content;
  text-decoration: none;
}
.button_link_nav i {
  color: #1e1e1e;
  font-size: 15px;
}
.button_link_nav:hover {
  cursor: pointer;
}
.button_link_nav:hover {
  color: #1e1e1e;
  background-color: white;
}

.button_link_intro_dark {
  color: #17f2b3;
  background-color: #1e1e1e;
  font-weight: 700;
  border-width: 2px;
  border-color: #17f2b3;
  border-radius: 10px;
  border-style: solid;
  padding: 10px 20px;
  font-size: 1.7rem;
  display: block;
  height: min-content;
  text-decoration: none;
  padding: 9px 19px;
}
.button_link_intro_dark i {
  color: #17f2b3;
  font-size: 15px;
}
.button_link_intro_dark:hover {
  cursor: pointer;
}
.button_link_intro_dark:hover {
  background-color: #17f2b3;
  color: #1e1e1e;
}
.button_link_intro_dark:hover i {
  color: #1e1e1e;
}

.button_link_intro_green {
  color: #1e1e1e;
  background-color: #17f2b3;
  font-weight: 700;
  border-width: 0;
  border-color: #17f2b3;
  border-radius: 10px;
  border-style: solid;
  padding: 10px 20px;
  font-size: 1.7rem;
  display: block;
  height: min-content;
  text-decoration: none;
}
.button_link_intro_green i {
  color: #17f2b3;
  font-size: 15px;
}
.button_link_intro_green:hover {
  cursor: pointer;
}
.button_link_intro_green:hover {
  background-color: white;
}

.button_link:hover {
  background-color: white;
  color: #1e1e1e;
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
#progress {
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
  height: 5px;
  background: #17f2b3;
  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: --page-scroll;
}

.green {
  color: #17f2b3;
}

.logo {
  font-size: 7rem;
  font-weight: 800;
  color: #17f2b3;
  margin-left: 100px;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
}

main {
  margin-left: 100px;
  margin-right: 100px;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
#landing img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

#top_landing {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#container_intro {
  width: 50%;
}
#container_intro h3 {
  font-size: 4rem;
}
#container_intro h1 {
  font-size: 5.5rem;
  margin: 0;
}
#container_intro .green {
  font-size: 5.5rem;
}
#container_intro p {
  font-size: 1.9rem;
  color: #b4b4b4;
}
#container_intro .bold {
  font-weight: 700;
  font-size: 1.7rem;
}
#container_intro .link_logo {
  font-size: 5rem;
  margin-top: 5px;
}
#container_intro .links {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 80vh;
  left: 50%;
  right: 50%;
}

.scroll-arrow {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  animation: arrow-wave 1s infinite;
  animation-direction: alternate;
}
.scroll-arrow:nth-child(1) {
  animation-delay: 0.1s;
}
.scroll-arrow:nth-child(2) {
  animation-delay: 0.2s;
}
.scroll-arrow:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes arrow-wave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.section_title {
  font-size: 8rem;
  color: #17f2b3;
  margin-bottom: 50px;
}

#container_about {
  padding-top: 130px;
}
#container_about p {
  font-size: 1.7rem;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

#skill_part {
  width: 500px;
  height: 500px;
  background-color: #17f2b3;
  margin: 0 auto;
}
#skill_part h3 {
  text-align: center;
  font-size: 3rem;
}

.skill_cards {
  margin: 0 auto;
  width: 800px;
  display: grid;
  grid-template: 6rem 120px 6rem repeat(2, 120px) 6rem 120px/1fr 1fr 1fr;
}
.skill_cards h2 {
  grid-column: 1/span 3;
  text-align: center;
  font-size: 3rem;
  align-self: center;
}
.skill_cards .card {
  transition: 0.3s;
  width: 90%;
  margin: 0 auto;
  border: 0px solid #17f2b3;
  background: #2f2f2f;
  height: 90%;
  align-self: center;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 4px 8px #0a0a0a;
  align-items: center;
  justify-content: space-evenly;
}
.skill_cards .card p {
  font-size: 1.7rem;
}
.skill_cards .card img {
  width: 96px;
  height: 96px;
}
.skill_cards .card:hover {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}

#container_skills {
  padding-top: 130px;
}

#container_contact form {
  margin: 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container_contact form label {
  align-self: flex-start;
  font-size: 2rem;
}
#container_contact form input {
  background: transparent;
  border-bottom: 1px solid white;
  font-size: 1.7rem;
  width: inherit;
  height: 30px;
  margin-bottom: 20px;
  padding: 5px;
  color: #17f2b3;
}
#container_contact form input:focus {
  border: none;
}
#container_contact form input::placeholder {
  font-size: 1.7rem;
  opacity: 0.5;
}
#container_contact form input:-webkit-autofill,
#container_contact form input:-webkit-autofill:hover,
#container_contact form input:-webkit-autofill:focus,
#container_contact form input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #17f2b3;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px rgba(35, 35, 35, 0.1607843137);
}
#container_contact form textarea {
  background: transparent;
  border-bottom: 1px solid white;
  font-size: 2rem;
  width: inherit;
  color: #17f2b3;
  height: 100px;
  padding: 5px;
}
#container_contact form textarea::placeholder {
  font-size: 1.7rem;
  opacity: 0.5;
}
#container_contact form button {
  background-color: #1e1e1e;
  height: 50px;
  width: 220px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 4px;
  color: #17f2b3;
  border-width: 1px;
  border-color: #17f2b3;
  border-style: solid;
  font-size: 2rem;
  margin-top: 20px;
}
#container_contact form button i {
  font-size: 2rem;
  color: #17f2b3;
}
#container_contact form button:hover {
  color: #1e1e1e;
  background-color: #17f2b3;
  cursor: pointer;
}
#container_contact form button:hover i {
  color: #1e1e1e;
}

#container_formations {
  padding-top: 130px;
}

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  height: auto;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #2f2f2f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}
.timeline-content h3 {
  font-size: 2rem;
}
.timeline-content img {
  width: 25px;
  border-radius: 5px;
}
.timeline-content h4 {
  font-size: 1.7rem;
}
.timeline-content p {
  margin-top: 10px;
  font-size: 1.7rem;
  opacity: 0.5;
}

.structure {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-color: #17f2b3;
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #17f2b3;
    background-color: #1e1e1e;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
#container_projects {
  padding-top: 130px;
}

.project_card {
  background-color: #2f2f2f;
  width: min(400px, 100vw - 70px);
  max-width: 350px;
  height: 400px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
}
.project_card img {
  transition: 0.5;
  width: 100%;
  border-radius: 15px;
}
.project_card img:hover {
  transition: 0.5s;
  filter: brightness(0.6);
}
.project_card .top_card {
  display: flex;
  padding-top: 10px;
  height: 40%;
}
.project_card .top_card .card_text {
  height: 40%;
  width: 60%;
}
.project_card .top_card .card_text h3 {
  font-size: 2rem;
}
.project_card .top_card .card_text p {
  font-size: 1.4rem;
  opacity: 0.5;
}
.project_card .top_card .card_techs {
  width: 40%;
}
.project_card .top_card .card_techs .tech {
  display: inline-block;
  font-size: 1.4rem;
  color: #2f2f2f;
  background-color: white;
  font-weight: 600;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 4px;
}
.project_card .card_buttons {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.project_card .card_buttons a {
  color: #2f2f2f;
  background-color: #17f2b3;
  font-size: 1.7rem;
  font-weight: 700;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 10px;
  text-decoration: none;
}
.project_card .card_buttons a i {
  font-size: 1.7rem;
  color: #2f2f2f;
}
.project_card .card_buttons a:hover {
  background-color: white;
  cursor: pointer;
}

footer {
  padding: 35px;
  height: auto;
}
footer .footer_links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
footer .footer_links a i {
  font-size: 5rem;
}
footer p {
  font-size: 1.7rem;
  text-align: center;
}
footer p span {
  font-size: 1.7rem;
  color: #17f2b3;
}

.menu {
  position: absolute;
  top: 10px;
  right: 50px;
  display: none;
}

@media screen and (max-width: 1100px) {
  .nav_links {
    transition: all 0.5s ease;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: -100%;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    border-left: 1px solid white;
    margin-left: 4%;
  }
  .nav_links a,
  .nav_links .button_link_nav {
    margin: 20px;
  }
  .nav_links.mobile-menu {
    right: 0;
  }
  .menu {
    display: block;
    width: 60px;
  }
  .skill_cards {
    width: 600px;
    grid-template: 5rem 80px 5rem repeat(2, 80px) 5rem 80px/1fr 1fr 1fr;
  }
  .skill_cards .card img {
    width: 60px;
    height: 60px;
  }
  #container_intro {
    width: 100%;
    margin-bottom: 30px;
  }
  #top_landing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .arrows {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  main {
    margin-left: 20px;
    margin-right: 20px;
  }
  #top_landing #container_intro h3 {
    font-size: 3rem;
  }
  #top_landing #container_intro h1 {
    font-size: 4.5rem;
    margin: 0;
  }
  #top_landing #container_intro .green {
    font-size: 4.5rem;
  }
  #top_landing #container_intro p {
    font-size: 1.4rem;
    color: #b4b4b4;
  }
  #top_landing #container_intro .bold {
    font-weight: 700;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  #top_landing #container_intro h3 {
    font-size: 2rem;
  }
  #top_landing #container_intro h1 {
    font-size: 3.5rem;
    margin: 0;
  }
  #top_landing #container_intro .green {
    font-size: 3.5rem;
  }
  #top_landing #container_intro p {
    font-size: 1rem;
    color: #b4b4b4;
  }
  #top_landing #container_intro .bold {
    font-weight: 700;
    font-size: 1rem;
  }
  .links {
    display: inline;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
